body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
}
#u9691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
}
#u9691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9692 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:541px;
  width:230px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
