body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2085px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:686px;
}
#u8507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:686px;
}
#u8507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:613px;
}
#u8508 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:73px;
  width:770px;
  height:613px;
}
#u8508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8509 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:119px;
  width:560px;
  height:42px;
}
#u8509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
