body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:683px;
}
#u6221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:683px;
}
#u6221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6222 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:381px;
  width:65px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:384px;
}
#u6224 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:176px;
  width:497px;
  height:384px;
}
#u6224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6225 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:188px;
  width:36px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6226 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:511px;
  width:63px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6227 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:511px;
  width:63px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:146px;
}
#u6229 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:188px;
  width:424px;
  height:146px;
}
#u6229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6230 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:271px;
  width:67px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
