body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:669px;
}
#u9695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:669px;
}
#u9695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
